<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Aceitar caracteres especiais -->
    <meta charset="UTF-8">
    <title>Pokemon RPG</title>
    <!-- identificar o tamanho da tela do dispositivo do usuario -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/app/Sts/Assets/Images/master-ball.ico">
    <link rel="stylesheet" type="text/css" href="/app/Sts/Assets/Css/main.css">
    <link rel="stylesheet" type="text/css" href="/app/Sts/Assets/Css/login.css">
</head>

<body>

    <nav>
        <div class="logo">
            <a href="/"><img src="/app/Sts/Assets/Images/PokeRPG.png" alt="Logo">
            </a>
        </div>

    </nav>

    <section class="container">
        <div class="main">
            <h2>Login</h2>

            <form>
                <div class="form-imgs">
                    <img class="pikachu pkm" src="/app/Sts/Assets/Images/Gifs/pikachu.gif">
                    <img class="red master" src="/app/Sts/Assets/Images/Gifs/red.gif">
                </div>
                <div class="inputs">
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div>
                        <label for="password">Senha</label>
                        <input type="password" name="pass" id="password">
                    </div>
                </div>
                <button value="login" name="submit">Enviar</button>
            </form>
            <span class="click-here">Não tem uma conta? <a href="/register">Clique aqui.</a></span>
        </div>

    </section>
</body>

</html>